<p>I'm Syed Aman!</p>

<ul>
  <li>I'm the founder of Krieg Studios</li>
  <li>I'm currently developing Timberlands, a first person virtual reality game with my team at Krieg Studios</li>
  <li>I was born and raised in Queens, NYC to immigrant parents</li>
  <li>I went to the High School for Math, Science, and Engineering in Harlem. That makes me a New Yorker, I'd say ;)</li>
  <li>I went to New York University where I've met the greatest of people and figured out exactly what I wanted to do in life</li>
  <li>I have a passion for all things technology</li>
  <li>I am Full Stack Developer currently making mobile and web apps for the most part. But I also have other side projects</li>
  <li>I dream that I get to work on my own projects full time</li>
  <li>I'm a Muslim</li>
</ul>