<h1 class="center">Let's Get In Touch</h1>
<div class="center">
    <a class="waves-effect waves-light btn" href="https://www.facebook.com/SyedNashikAman">Facebook</a>
    <a class="waves-effect waves-light btn" href="https://github.com/SyedAman">GitHub</a>
    <a class="waves-effect waves-light btn" href="https://twitter.com/SyedNashikAman">Twitter</a>
    <a class="waves-effect waves-light btn" href="https://www.instagram.com/syednashikaman/">Instagram</a>
    <a class="waves-effect waves-light btn" href="mailto:syedn.aman@live.com">Live Email</a>
</div>