<br>
<!-- Seperator -->
<md-toolbar>Let's Get In Touch</md-toolbar>
<br>

<div id="buttons" class="center center-text">
    <a md-raised-button href="https://www.facebook.com/SyedNashikAman">Facebook</a>
    <a md-raised-button href="https://github.com/SyedAman">GitHub</a>
    <a md-raised-button href="https://www.linkedin.com/in/syednashikaman">LinkedIn</a>
    <a md-raised-button href="https://twitter.com/SyedNashikAman">Twitter</a>
    <a md-raised-button href="https://www.instagram.com/syednashikaman/">Instagram</a>
    <a md-raised-button href="mailto:syedn.aman@live.com">Email</a>
</div>
