<br>
<!-- Seperator -->
<md-toolbar>My Skills</md-toolbar>
<br>

<!-- List of Skills -->
<md-list>

  <!-- Frontend Skills -->
  <h3 md-subheader style="color: black;">Frontend Skills</h3>

  <md-list-item style="color:black;" *ngFor="let skill of frontendSkills">
    <md-icon md-list-avatar>folder</md-icon>
    <h4 md-line>{{skill.name}}</h4>
    <p md-line> {{skill.experience}} </p>
  </md-list-item>

  <md-divider></md-divider>

  <!-- Backend Skills-->
  <h3 md-subheader style="color: black;">Backend Skills</h3>

  <md-list-item style="color:black;" *ngFor="let skill of backendSkills">
    <md-icon md-list-avatar>note</md-icon>
    <h4 md-line>{{skill.name}}</h4>
    <p md-line> {{skill.experience}} </p>
  </md-list-item>

</md-list>