<br><br>
<md-card class="example-card">

  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Dad & Son</md-card-title>
    <md-card-subtitle>I'm on the right</md-card-subtitle>
  </md-card-header>

  <img md-card-image src="../assets/img/dad_nash_wedding.jpg">

  <md-card-content>
    <p>
        Me and my dad at my cousins wedding. My dad's taught me a lot about being a gentleman with manners and piety. 
        He always emphasizes being punctual and responsible.
    </p>
  </md-card-content>

  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>

</md-card>